.mdl-button.btn-transparent {
  background-color: transparent !important;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  box-shadow: none;
  border-radius: 4px;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
	white-space: nowrap;

  &:hover {
    background-color: var(--primary-color) !important;
    color: var(--text-white);
    box-shadow: 4px 4px 4px #0002;
  }
}
