// Fading out animations that turns opacity to 0
@keyframes fadeOut {
	to {
		opacity: 0;
	}
}

// Fading out animations that turns opacity to 0
@keyframes fadeUpOut {
	to {
		transform: translateY(-100%);
		opacity: 0;
	}
}

@keyframes lazyloadAnim {
	0% {
		background-position: 300%;
	}

	100% {
		background-position: 0;
	}
}


@keyframes appear-up {
  0% {
    opacity: 0;
    transform: translateY(-36px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes appear-down {
  0% {
    opacity: 0;
    transform: translateY(36px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes appear-right {
  0% {
    opacity: 0;
    transform: translateX(36px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes appear-left {
  0% {
    opacity: 0;
    transform: translateX(-36px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
