// Seperate media queries to make things less cluttery
// Phones:              <  768px
// Tablets:             >= 768px
// Small Laptops:    >= 992px
// Desktops:           >= 1200px

// < Desktops
@media(max-width: 1200px) {
	.grid-responsive-max-3x3 {
		grid-template-columns: 1fr 1fr !important;
	}
  
  .archive-div {
    width: 50%;
  }

  .card-link {
    max-width: 466px;
  }

  .submit-form-notice {
    margin-bottom: 3rem;
  }

  .card {
    width: 100% !important;
    max-width: 466px;
    box-shadow: none !important;
  }
}

// Mobile devices
@media(max-width: 768px) {
	.grid-responsive-max-3x3 {
		grid-template-columns: auto !important;
	}

  .archive-div {
    width: 100%;
  }

  .card-link {
    max-width: none;
  }

  .grid-responsive-max-3x3 .card {
    width: 100% !important;
    box-shadow: none !important;
    max-width: none;
    box-shadow: none;
    height: auto !important;

    .preview {
      height: 100% !important;
    }

    .page-content-body {
      height: 100% !important;
    }
  }

  .archive-div .card {
    width: 100% !important;
    box-shadow: none !important;
    max-width: none;
    box-shadow: none;
    height: 488px !important;

    .preview {
      height: 100% !important;
    }

    .page-content-body {
      height: 100% !important;
    }
  }


  .submit-form-notice {
    margin-bottom: 2rem;
  }

  #mainHeader {
    height: auto;

    .arrows {
      position: relative !important;
      margin: 40px auto 40px auto !important;
      transform: none !important;
      left: 0 !important;
      bottom: 0 !important;
    }
  }

  .floaters {
    grid-template-columns: 1fr !important;
    width: 100%;
    padding: 0 !important;

    .left {
      display: none !important;
    }

    .right {
      align-items: center !important;
      display: block !important;
    }
  }
}
