---
layout: archives

# These fields are fetched from the rubynews layout to generate meta tags
description:
author: https://ruby.news
keywords: ruby rubynews weekly digest

# Extra scss / css file(s), don't use .css extension
# Should be seperated with commas (,): file1, file2, file3...fileN
stylesheets: /assets/stylesheets/index-page

# Extra javascript file(s)
# js:
---

{% include ruby_is_alive.html %}

<!-- Scroll to this section to have adequate margin to top of the page-content section -->
<div  class="mb-4rem" id="mainContent"></div>

<div class="page-content">
	<h2 class="mb-4rem">Archives</h2>

  <div class="grid-responsive-max-3x3">
    <!-- Show first 2 posts -->
    {% assign maxFirstPosts = 2 %}
    {% assign counter = 0 %}

    {% for article in site.articles %}
      {% assign counter = counter | plus: 1 %}
      {% include indexpage_item.html %}

      {% if counter == maxFirstPosts %}
        {% break %}
      {% endif %}
    {% endfor %}

    <!-- Show the Email submit form -->
    {% include submit_form_card.html %}

    <!-- Show the rest posts -->
    {% assign counter = 0 %}

    {% for article in site.archives %}
      {% if counter < maxFirstPosts %}
        {% assign counter = counter | plus: 1 %}
        {% continue %}
      {% endif %}

      {% include indexpage_item.html %}

    {% endfor %}
  </div>
</div>
