---
layout: rubynews

# These fields are fetched from the rubynews layout to generate meta tags
description:
author: https://ruby.news
keywords: ruby rubynews weekly digest

# Extra scss / css file(s), don't use .css extension
# Should be seperated with commas (,): file1, file2, file3...fileN
stylesheets: /assets/stylesheets/subscribe-form

# Extra javascript file(s)
# js:
---

{% include ruby_is_alive.html %}

<!-- Scroll to this section to have adequate margin to top of the page-content section -->
<div  class="mb-4rem" id="mainContent"></div>

<div class="page-content">
  <div class="grid-responsive-max-3x3">
    <!-- Show first 2 posts -->
    {% assign maxFirstPosts = 2 %}
    {% assign counter = 0 %}
    {% assign articles = paginator.posts %}

    {% for article in articles %}
      {% assign counter = counter | plus: 1 %}
      {% include indexpage_item.html %}

      {% if counter == maxFirstPosts %}
        {% break %}
      {% endif %}
    {% endfor %}

    <!-- Show the Email submit form -->
    {% if paginator.page == 1 %}
      {% include submit_form_card.html %}
    {% endif %}

    <!-- Show the rest posts -->
    {% assign counter = 0 %}

    {% for article in articles %}
      {% if counter < maxFirstPosts %}
        {% assign counter = counter | plus: 1 %}
        {% continue %}
      {% endif %}

      {% include indexpage_item.html %}

    {% endfor %}
  </div>
</div>

<!-- Show Pagination -->
<div class="pagination">
    {% assign current_page = paginator.page %}
    {% assign total_pages = paginator.total_pages %}
    {% assign starting_page = current_page | minus: 3 %}
    {% assign ending_page = current_page | plus: 3 %}
    {% assign starting_ellipsis = true %}
    {% assign ending_ellipsis = true %}

    {% if current_page < 3 %}
      {% assign starting_ellipsis = false %}
    {% endif %}

    {% if total_pages == ending_page%}
      {% assign ending_ellipsis = false %}
    {% endif %}

    {% if starting_page < 1 %}
      {% assign starting_page = 1 %}
      {% assign ending_page = current_page | plus: 6 %}
    {% endif %}

    {% if ending_page > total_pages %}
      {% assign starting_page = current_page | minus: 6 %}
      {% assign ending_page = total_pages %}
      {% assign ending_ellipsis = false %}
    {% endif %}

  <div class="mdl-tooltip" data-mdl-for="pageLinkFirst">First</div>
  {% if current_page != 1 %}
    <a id="pageLinkFirst" href="{{ site.url }}" class="first page-link mdl-button mdl-js-button mdl-js-ripple-effect">&laquo;</a>
  {% else %}
    <span id="pageLinkFirst" class="first page-link-disabled active">&laquo;</span>
  {% endif %}

  <div class="mdl-tooltip" data-mdl-for="pageLinkPrevious">Previous</div>
  {% if paginator.previous_page %}
    <a id="pageLinkPrevious" href="{{ paginator.previous_page_path }}" class="previous page-link mdl-button mdl-js-button mdl-js-ripple-effect">
      &lt;
    </a>
  {% else %}
    <span id="pageLinkPrevious" class="previous page-link-disabled">&lt;</span>
  {% endif %}

  {% if starting_ellipsis %}
    <span class="ellipsis">...</span>
  {% endif %}

  {% for i in (starting_page..ending_page) %}
    {% if i == 1 %}
      {% assign j = site.url %}
    {% else %}
      {% assign j = site.url | append: "/page" | append:  i %}
    {% endif %}

    <div class="mdl-tooltip" data-mdl-for="pageLink-{{ i }}">Page {{ i }}</div>
    {% if i == current_page %}
      <a id="pageLink-{{ i }}" href="{{ j }}" class="page-link active mdl-button mdl-js-button mdl-js-ripple-effect">{{ i }}</a>
    {% else %}
      <a id="pageLink-{{ i }}" href="{{ j }}" class="page-link mdl-button mdl-js-button mdl-js-ripple-effect">{{ i }}</a>
    {% endif %}
  {% endfor %}

  {% if ending_ellipsis %}
    <span class="ellipsis">...</span>
  {% endif %}

  <!-- Page: {{ paginator.page }} of {{ paginator.total_pages }} -->
  <div class="mdl-tooltip" data-mdl-for="pageLinkNext">Next</div>
  {% if paginator.next_page %}
    <a id="pageLinkNext" href="{{ paginator.next_page_path }}" class="next page-link mdl-button mdl-js-button mdl-js-ripple-effect">&gt;</a>
  {% else %}
    <span id="pageLinkNext" class="next page-link-disabled">&gt;</span>
  {% endif %}

  <div class="mdl-tooltip" data-mdl-for="pageLinkLast">Last</div>
  {% if paginator.page != paginator.total_pages %}
    <a id="pageLinkLast" href="{{ site.url }}/page{{ total_pages }}" class="last page-link mdl-button mdl-js-button mdl-js-ripple-effect">&raquo;</a>
  {% else %}
    <span id="pageLinkLast" class="last page-link-disabled active">&raquo;</span>
  {% endif %}
</div>
