<div class="title ta-center flex-col-center-h mb-4rem">
	<h4>Interested in earlier pieces of news?</h4>
	<h4>Dig into our news archive. We’ve got plenty of gems for you there</h4>

	<button class="btn-transparent mt-2rem mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
		Browse the Archive
	</button>
</div>

<div class="footer flex-col-center-h">
	<div class="ta-center w-100p">
		<div class="logo">
			<img src="/assets/images/logo/logo-sm.svg">
		</div>

		&copy; <span class="insert-current-year"></span> Ruby News. All rights reserved.
		<br><br>
		<a href="#" class="link-primary">Terms & Privacy</a>
	</div>
</div>
