{% assign article_date = article.date | date: "%Y-%m-%d" %}
{% assign button_class = "card-link appear-up link-no-style link-article mdl-button mdl-js-button mdl-js-ripple-effect" %}

{% if article.link %}
  <a href="{{ article.link }}" class="{{ button_class }}" target="_blank" rel="noopener">
{% else %}
  <a href="{{ article.url }}" class="{{ button_class }}">
{% endif %}

{% comment %} Used only for random image placer {% endcomment %}
{% assign prev_counter = 0 %}
{% assign max_images = 7 %}

<div class="card-wrapper">
  <div class="card">
      {% if article.link %}
        <div class="read-article-external lazyload" hover-text-content="Read Article">
      {% else %}
        <div class="read-article lazyload" hover-text-content="Read Article">
      {% endif %}

      {% assign full_bg = true %}
      {% if article.preview_full_background == false %}
        {% assign full_bg = false %}
      {% endif %}

      {% assign blurred_bg = true %}
      {% if article.preview_blur == false %}
        {% assign blurred_bg = false %}
      {% endif %}

      {% if article.preview_image %}
        <div src="/post_images/{{ article_date }}/{{ article.preview_image }}" loading="lazy" class="preview-img" blur-bg="{{ blurred_bg }}" full-background="{{ full_bg }}"></div>
      {% else %}
        {% include generate_random_image.html %}
      {% endif %}
      <div class="lazyload-anim"></div>
    </div>

    <div class="page-content-body">
      <div class="p-2rem">
        <div class="date mt-1rem mb-1rem font-montseratt">
          {{ article.date | date: '%-d %B %Y'}}
        </div>

        <div class="heading mb-1rem">
          {% if article.link %}
            <h4 class="line-clamp-3 font-montseratt">
              {{ article.title }}
            </h4>
          {% elsif article.file %}
            <h4 class="line-clamp-3">{{ article.title }}</h4>
          {% else %}
            Untitled
          {% endif %}
        </div>

        <div class="pb-1rem">
          <div class="description font-roboto">
            {% if article.description %}
              {{ article.description }}
            {% else %}
              {{ article.title }}
            {% endif %}
          </div>
        </div>

        <div class="author font-suisseintl">
          {% if article.author %}
            {{ article.author }}
          {% else %}
            Ruby News
          {% endif %}
        </div>

        {% if article.tags %}
          <div class="tags" style="z-index:1000; position:relative">
            <ul>
              {% for tag in article.tags %}
                  <li class="hoverable-primary"><div class="tag-clickable" tag-url="{{ site.url }}/tags/?tag={{ tag}}">{{ tag }}</div></li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}

      </div>
    </div>
  </div>
</div>

</a>
