<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
{% if page.author %}
  <meta name="author" content="{{ page.author }}">
{% else %}
  <meta name="author" content="Ruby News">
{% endif %}
<meta name="keywords" content="{{ page.keywords }}">
<meta name="revisit-after" content="3-days">

{% if page.description %}
  <meta name="description" property="og:description" content="{{ page.description }}">
  <meta name="robots" content="{{ page.description }}">
{% else %}
  <meta name="description" property="og:description" content="{{ page.title }}">
  <meta name="robots" content="{{ page.title }}">
{% endif %}

<!-- Open Graphics Tags -->
<meta name="title" property="og:title" content="{{ page.title }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ site.url }}">
<meta property="og:site_name" content="{{ site.url }}">
<meta property="og:locale" content="en_US">
<meta property="og:locale:alternate" content="en_AU">
<meta property="og:locale:alternate" content="en_CA">
<meta property="og:locale:alternate" content="en_GB">
<meta property="og:locale:alternate" content="en_IN">

<!-- Favicon -->
<link rel="shortcut icon" type="image/png" sizes="96x96" href="/assets/images/logo/logo96.png">
<link rel="shortcut icon" type="image/png" sizes="80x80" href="/assets/images/logo/logo80.png">
<link rel="shortcut icon" type="image/png" sizes="64x64" href="/assets/images/logo/logo64.png">
<link rel="shortcut icon" type="image/png" sizes="48x48" href="/assets/images/logo/logo48.png">
<link rel="shortcut icon" type="image/png" sizes="32x32" href="/assets/images/logo/logo32.png">
<link rel="shortcut icon" type="image/png" sizes="16x16" href="/assets/images/logo/logo16.png">
