<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<meta name="description" content="{{ page.description }}">
<meta name="author" content="{{ page.author }}">
<meta name="keywords" content="{{ page.keywords }}">
<meta name="revisit-after" content="3-days">
<meta name="robots" content="{{ page.description }}">
<meta name="title" content="{{ page.title }}">

<!-- Open Graphics Tags -->
<meta name="og:description" content="{{ page.description }}">
<meta name="og:title" content="{{ page.title }}">
<meta name="og:type" content="website">
<meta name="og:url" content="{{ site.url }}">
<meta name="og:image" itemprop="image" content="{{ site.url }}/assets/images/logo/logo-sharer.png">

<!-- Favicon -->
<link rel="shortcut icon" type="image/png" sizes="96x96" href="/assets/images/logo/logo96.png">
<link rel="shortcut icon" type="image/png" sizes="80x80" href="/assets/images/logo/logo80.png">
<link rel="shortcut icon" type="image/png" sizes="64x64" href="/assets/images/logo/logo64.png">
<link rel="shortcut icon" type="image/png" sizes="48x48" href="/assets/images/logo/logo48.png">
<link rel="shortcut icon" type="image/png" sizes="32x32" href="/assets/images/logo/logo32.png">
<link rel="shortcut icon" type="image/png" sizes="16x16" href="/assets/images/logo/logo16.png">
