<div class="container">
	<div class="navbar-inline-flex">
		<a href="#">
			<img src="/assets/images/logo/logo.svg" class="img36 logo">
		</a>

		<a href="{{ site.url }}">
			<span class="logo-text">RubyNews</span>
		</a>

		<span class="splitter"></span>

		<a href="{{ site.url }}">
			<span class="logo-text-more">Blog</span>
		</a>
	</div>

	<div>
		<input type="checkbox" id="nav-check">

		<div class="nav-btn">
			<label for="nav-check">
				<div class="togglers">
					<div class="toggler"></div>
					<div class="toggler"></div>
					<div class="toggler"></div>
				</div>
			</label>
		</div>

		<div class="menu-links">
			<div class="menu-items">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Join Newsletter</a></li>
				</ul>
			</div>

			<div class="social-media">
				<div class="icon">
					<a href="#">
						<img src="/assets/images/social-media/twitter.svg">
					</a>
				</div>

				<div class="icon">
					<a href="#">
						<img src="/assets/images/social-media/telegram.svg">
					</a>
				</div>
			</div>
		</div>
	</div>

	<!--
		<div class="dark-mode">
		</div>
	-->
</div>
