<div class="container">
	<div class="navbar-inline-flex">
		<a href="#">
			<img src="assets/images/logo/logo.svg" class="img36 logo">
		</a>

		<a href="#">
			<span class="logo-text">RubyNews</span>
		</a>

		<span class="splitter"></span>

		<a href="#">
			<span class="logo-text-more">Blog</span>
		</a>
	</div>

	<nav>
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Join Newsletter</a></li>
		</ul>
	</nav>

	<div class="social-media">
		<div class="icon" target-text="Follow us on twitter">
			<a href="#">
				<img src="/assets/images/social-media/twitter.svg">
			</a>
		</div>

		<div class="icon">
			<a href="#">
				<img src="/assets/images/social-media/facebook.svg">
			</a>
		</div>

		<div class="icon">
			<a href="#">
				<img src="/assets/images/social-media/linkedin.svg">
			</a>
		</div>
	</div>

	<!--
		<div class="dark-mode">
		</div>
	-->
</div>
