<div class="popup-modal" id="subscribeModal">
	<div class="close-popup mdl-button mdl-js-button mdl-button--icon mdl-button-colored mdl-js-ripple-effect" id="closeSubscribeModal">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 365.7 365">
			<path fill="#555" d="M356 296L70 10a32 32 0 00-46 0L9 25a32 32 0 000 45l287 287c12 12 33 12 45 0l15-15c13-13 13-33 0-46zm0 0"/>
			<path fill="#555" d="M296 10L9 296a32 32 0 000 46l15 15c13 12 33 12 46 0L356 70c13-12 13-33 0-45l-15-15a32 32 0 00-45 0zm0 0"/>
		</svg>
	</div>

	<div id="confettis">
		<canvas id="confettiCanvas"></canvas>
	</div>

	<div class="modal-wrapper">
		<div class="check">
			<img src="/assets/images/icons/calendar.svg">
		</div>

		<div class="message">
			<h6 class="ta-center">Interested in Weekly Digests?</h6>
			<div id="scrollingItems">
				<p class="scrolling-item">You can subscribe to our weekly email digest.</p>

				<p class="scrolling-item">
					We post
					<span style="background: linear-gradient(45deg, #FEA18C, #FD3F84);background-clip:text;color: transparent;-webkit-background-clip: text;">#Programming</span>
					related educational contents that are good for your brain!
				</p>

				<p class="scrolling-item">It's completely free to subscribe!</p>
				<p class="scrolling-item">We promise you, we don't spam.</p>
			</div>
		</div>

		<div class="subscribe-container">
			<div class="form-wrapper">
				<form action="#" class="flex-col-center-h">
					<div class="p-1rem flex-row-center-h">
						<input type="email" maxlength="200" class="email-field b-rad-8px w-100p" placeholder="Enter your email here">
					</div>

					<label for="submitEmail" class="w-100p">
						<input type="submit" id="submitEmail">
						<button class="btn-transparent w-100p mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
							Subscribe
						</button>
					</label>
				</form>
			</div>
		</div>
	</div>
</div>

<link rel="stylesheet" href="/assets/stylesheets/newsletter_modal.css">
<script src="/assets/javascript/newsletter_modal.js"></script>
