<div class="card-div">
  <div class="card-wrapper appear-up">
    <div class="card">
      <div class="page-content-body h-100p" style="border-radius: 8px !important">

        <div class="p-2rem mt-2rem">
          <h4 class="mb-1rem">Don't want to miss a thing?</h4>

          <div class="mb-2rem">
            <div class="description">
              Get all the latest Ruby News right into your mailbox
            </div>
          </div>

          <div class="details">
            <div class="subscribe-container">
              <div class="form-wrapper">

                {% comment %}
                <form action="#" class="flex-col-center-h">
                  <div class="p-1rem flex-row-center-h">
                    <input type="email" maxlength="200" class="email-field b-rad-8px w-100p" placeholder="Enter your email here">
                  </div>

                  <div class="submit-form-notice">
                    We value your privacy. Ruby News uses the information you provide to share
                    our relevant news, updates, and services. You are free to unsubscribe from
                    these emails any time. For more details, check out our privacy policy.
                  </div>

                  <label id="submitFormLabel" for="submitEmail" class="w-100p">
                    <input type="submit" id="submitEmail">
                    <a id="submit" class="btn-transparent w-100p mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                      Subscribe
                    </a>
                  </label>
                </form>

                {% endcomment %}
                <!-- Begin Mailchimp Signup Form -->
                <div id="mc_embed_signup">
                  <form action="https://news.us6.list-manage.com/subscribe/post?u=4464667fa77074b72c6a53df1&amp;id=4b43b81b0c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate flex-col-center-h" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                      <div class="mc-field-group pb-1rem flex-row-center-h">
                        <input type="email" value="" name="EMAIL" class="required email email-field b-rad-8px w-100p" id="mce-EMAIL" placeholder="Enter your email here">
                      </div>

                      <div class="submit-form-notice">
                        We value your privacy. Ruby News uses the information you provide to share
                        our relevant news, updates, and services. You are free to unsubscribe from
                        these emails any time. For more details, check out our privacy policy.
                      </div>

                      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                      <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                      </div>

                      <label id="submitFormLabel" for="mc-embedded-subscribe" class="w-100p">
                        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="submit-email-input">

                        <a id="submit" class="btn-transparent w-100p mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                          Subscribe
                        </a>
                      </label>

                      <div style="position: absolute; left: -5000px;" aria-hidden="true">
                        <input type="text" name="b_4464667fa77074b72c6a53df1_4b43b81b0c" tabindex="-1" value="">
                      </div>
                    </div>
                  </form>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
