<div class="card-div card">
  <div class="card-wrapper appear-up">
    <div class="card">
      <div class="page-content-body h-100p" style="border-radius: 8px !important">

        <div class="p-2rem mt-2rem">
          <h4 class="mb-1rem">Don't want to miss a thing?</h4>

          <div class="mb-2rem">
            <div class="description">
              Get all the latest Ruby News right into your mailbox
            </div>
          </div>

          {% include mailchimp_form.html %}

        </div>
      </div>
    </div>
  </div>
</div>
