<div class="card-div">
  <div class="card-wrapper appear-up">
    <div class="card">
      <div class="page-content-body h-100p" style="border-radius: 8px !important">

        <div class="p-2rem mt-2rem">
          <h4 class="mb-1rem">Don't want to miss a thing?</h4>

          <div class="mb-2rem">
            <div class="description">
              Get all the latest Ruby News right into your mailbox
            </div>
          </div>

          <div class="details">
            <div class="subscribe-container">
              <div class="form-wrapper">
                <form action="#" class="flex-col-center-h">
                  <div class="p-1rem flex-row-center-h">
                    <input type="email" maxlength="200" class="email-field b-rad-8px w-100p" placeholder="Enter your email here">
                  </div>

                  <div class="submit-form-notice">
                    We value your privacy. Ruby News uses the information you provide to share
                    our relevant news, updates, and services. You are free to unsubscribe from
                    these emails any time. For more details, check out our privacy policy.
                  </div>

                  <label id="submitFormLabel" for="submitEmail" class="w-100p">
                    <input type="submit" id="submitEmail">
                    <a id="submit" class="btn-transparent w-100p mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                      Subscribe
                    </a>
                  </label>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
