---
---

@import "keyframes.scss" ;
@import "buttons.scss" ;
@import "footer.scss" ;
@import "fonts.scss" ;
@import "media_queries.scss" ;

:root {
  --primary-gradient-color: linear-gradient(45deg, #f55, #55f) ;

  --primary-color: #f66 ;
  --secondary-color: #FF4081 ;

  --primary-text-color: #333 ;
  --secondary-text-color: #f66 ;
}

::selection {
  background-color: var(--primary-color) !important;
  color: #fff;
  text-shadow: 2px 2px 4px #0002 !important;
}

// Margins and paddings
@for $size from 1 to 6 {
  // Margins
  .mt-#{$size}rem { margin-top: #{$size}rem; }
  .mb-#{$size}rem { margin-bottom: #{$size}rem; }
  .ml-#{$size}rem { margin-left: #{$size}rem; }
  .mr-#{$size}rem { margin-right: #{$size}rem; }

  .mt-#{$size}em { margin-top: #{$size}em; }
  .mb-#{$size}em { margin-bottom: #{$size}em; }
  .ml-#{$size}em { margin-left: #{$size}em; }
  .mr-#{$size}em { margin-right: #{$size}em; }

  // Padding
  .pt-#{$size}rem { padding-top: #{$size}rem; }
  .pb-#{$size}rem { padding-bottom: #{$size}rem; }
  .pl-#{$size}rem { padding-left: #{$size}rem; }
  .pr-#{$size}rem { padding-right: #{$size}rem; }

  .pt-#{$size}em { padding-top: #{$size}em; }
  .pb-#{$size}em { padding-bottom: #{$size}em; }
  .pl-#{$size}em { padding-left: #{$size}em; }
  .pr-#{$size}em { padding-right: #{$size}em; }
}

html {
  box-sizing: border-box ;
}

html, body {
  margin: 0 ;
  padding: 0 ;
  height: 100% ;
}

body {
  // Overwrite font-weight and font provided by getmdl.io
  font-family: 'Montserrat' !important ;
  font-weight: normal !important ;
}

.wrapper {
  min-height: 100% ;
  display: grid ;
  grid-template-rows: auto 1fr auto ;
}

main.content {
  width: 90%;
  max-width: 900px;
  margin: 0 auto 8vh auto ;
}

code {
  font-family: 'Jetbrains Mono', monospace ;
  font-size: 14px ;
}

pre {
  font-family: 'Jetbrains Mono', monospace ;
  font-size: 14px ;
  margin: 12px 0 ;
  text-align: justify ;
  padding: 6px ;
  max-height: 300px ;
  background-color: #efefef ;
  line-height: 150% ;
  border-radius: 6px ;

  code-counter {
    counter-increment: listing ;
    overflow: auto ;

    &::before {
      content: counter(listing) '. ' ;
      display: inline-block ;
    }
  }

  file {
    display: block ;
    color: #000 ;
    font-size: 12px ;
    width: 100%;
    font-weight: bold ;
    position: relative ;
  }

  file::before {
    content: '' ;
    background: url("/assets/articles/base-images/text-x-generic.svg") no-repeat ;
    background-size: cover ;
    height: 24px ;
    width: 24px ;
    filter: drop-shadow(3px 3px 1px #0003) ;
    margin: 0 8px 16px 0 ;
    display: inline-flex ;
    align-items: center ;
    user-select: none ;
  }

  dollar, hash {
    display: inline-block ;
  }

  dollar::before {
    content: '$ ' ;
    user-select: none ;
  }

  hash::before {
    content: '# ' ;
    user-select: none ;
  }
}
