<!Doctype HTML>

<html>
  <head>
    {% include meta_tags.html %}

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" sizes="96x96" href="/assets/images/logo/logo96.png">
    <link rel="shortcut icon" type="image/png" sizes="80x80" href="/assets/images/logo/logo80.png">
    <link rel="shortcut icon" type="image/png" sizes="64x64" href="/assets/images/logo/logo64.png">
    <link rel="shortcut icon" type="image/png" sizes="48x48" href="/assets/images/logo/logo48.png">
    <link rel="shortcut icon" type="image/png" sizes="32x32" href="/assets/images/logo/logo32.png">
    <link rel="shortcut icon" type="image/png" sizes="16x16" href="/assets/images/logo/logo16.png">

    <title>RubyNEA</title>

    <!-- Any CDN Links? -->
    <!-- -->
    <!-- -->

    <!-- Stylesheets -->
    <!-- Preload required stylesheets -->
    <link rel="preload" as="style" href="/assets/stylesheets/material.min.css">
    <link rel="preload" as="style" href="/assets/stylesheets/main.css">
    <link rel="preload" as="style" href="/assets/stylesheets/articles.css">

    <!-- Load all the stylesheet synchronously -->
    <!-- Don't wait for the stylesheets before showing the loader -->
    <!-- With direct link tag, stylesheets loading can be ignored by the loader -->
    <script>
      // Paste stylesheet links here!
      // Keep things like materialLite or bootstrap at first to prevent
      // your own style from overriding!
      // CSS Libraries are quite notorious
      // For even defining their own body fonts!

      let stylesheets = [
        "/assets/stylesheets/material.min.css",
        "/assets/stylesheets/main.css",
        "/assets/stylesheets/articles.css",
        "/assets/stylesheets/subscribe-form.css"
      ]

      // Load other stylesheets
      const otherStylesheets = "{{ page.stylesheets }}".split(',').map(x => x.trim())
      if (otherStylesheets) stylesheets = stylesheets.concat(otherStylesheets)

      // Append all stylesheets to head while the loader is shown
      for(let stylesheetLink of stylesheets) {
        if (stylesheetLink) {
          let link = document.createElement('link')
          link.rel = 'stylesheet'
          link.type = 'text/css'
          link.href = stylesheetLink.substr(-4) === '.css' ? stylesheetLink : stylesheetLink + '.css'

          document.head.appendChild(link)
        }
      }
    </script>

    <!-- Javascript -->
    <link rel="preload" as="script" href="/assets/javascript/main.js">
    <link rel="preload" as="script" href="/assets/javascript/article.js">
    <link rel="preload" as="script" href="/assets/javascript/confetti.js">
    <link rel="preload" as="script" href="/assets/javascript/material.min.js">

    <script src="/assets/javascript/main.js"></script>
    <script src="/assets/javascript/article.js"></script>
    <script src="/assets/javascript/material.min.js"></script>
    <script src="/assets/javascript/confetti.js"></script>

    <!-- Loader Related CSS, Should be a Partial or Code inside Head -->
    {% include loader.css.html %}
    {% include arrow_animation.css.html %}
	</head>

	<body>
		{% if page.js %}
			{% assign javascripts = page.js | split: "," %}
			{% for javascript in javascripts %}
				<script src="{{ javascript }}.js"></script>
			{% endfor %}
		{% endif %}
		<!-- End of loading all necessary files and libraries -->

    {% include loader.html %}

    <!-- Body of Rubynews -->
    <div class="wrapper">
      <header class="css-navbar">
        {% include navbar.html %}
      </header>

      <div id="progress-bg"></div>
      <div id="progress"></div>
      {% assign article_date = page.date | date: "%Y-%m-%d" %}

      <div class="popup-modal" id="subscribeModal">
        <div class="close-popup mdl-button mdl-js-button mdl-button--icon mdl-button-colored mdl-js-ripple-effect" id="closeSubscribeModal">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 365.7 365">
            <path fill="#555" d="M356 296L70 10a32 32 0 00-46 0L9 25a32 32 0 000 45l287 287c12 12 33 12 45 0l15-15c13-13 13-33 0-46zm0 0"/>
            <path fill="#555" d="M296 10L9 296a32 32 0 000 46l15 15c13 12 33 12 46 0L356 70c13-12 13-33 0-45l-15-15a32 32 0 00-45 0zm0 0"/>
          </svg>
        </div>

        <div id="confettis">
          <canvas id="confettiCanvas"></canvas>
        </div>

        <script>
          confettiSettings = { target: 'confettiCanvas', rotate: true, max: 120 }
          confetti = new ConfettiGenerator(confettiSettings)
          confetti.render()
        </script>

        <div class="modal-wrapper">
          <div class="check">
            <img src="/assets/images/icons/check.svg">
          </div>

          <div class="message">
            <h6 class="ta-center">Congrats! You have finished the article!</h6>
            <p class="ta-center" style="color: #444">If you liked this article, you can subscribe to our weekly email digest! It's completely free of cost. You can also unsubscribe any time!</p>
          </div>

          <div class="subscribe-container">
            <div class="form-wrapper">
              <form action="#" class="flex-col-center-h">
                <div class="p-1rem flex-row-center-h">
                  <input type="email" maxlength="200" class="email-field b-rad-8px w-100p" placeholder="Enter your email here">
                </div>

                <label for="submitEmail" class="w-100p">
                  <input type="submit" id="submitEmail">
                  <button class="btn-transparent w-100p mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                    Subscribe
                  </button>
                </label>
              </form>
            </div>
          </div>
        </div>
      </div>

      <main>
        <div class="blog-contents">
          <header>
            <img src="/post_images/{{ article_date }}/{{ page.preview_image }}">

            <break></break>

            <div>{{ page.title }}</div>

            {% assign tag = page.tags | join: ' ' %}
            {% if tag == '' %}
              {% assign tag = 'Ruby News' %}
            {% endif %}

            <div class="grid-2x2-float">
              <div class="author-details">
                <author-image>
                  {% if page.author_image %}
                    <img src="/assets/articles/authors/{{ page.author_image }}">
                  {% else %}
                    <img src="/assets/articles/blog-authors/person.webp">
                  {% endif %}
                </author-image>

                <about-post>
                  {% if page.author_name %}
                    {{ page.author_name }}
                  {% else %}
                    Ruby News
                  {% endif %}
                  <date>{{ page.date | date: "%d %B, %Y | %H:%M:%S %Z (%z)" }}</date>

                  <div class="tags">
                    {{ tag }}
                  </div>
                </about-post>
              </div>

              <div class="right">
                {% include article_share_buttons.html %}
              </div>
            </div>
          </header>

          <break></break>
          <div id="articleContent">
            {{ page.content }}
          </div>
        </div>
      </main>

      <footer>
        {% include footer.html %}
      </footer>
    </div>
	</body>
</html>
