<!Doctype HTML>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale:1.0">
	<meta name="description" content="{{ page.description }}">
	<meta name="author" content="{{ page.description }}">
	<meta name="keywords" content="{{ page.description }}">
	<meta name="revisit-after" content="{{ page.description }}">
	<meta name="robots" content="{{ page.description }}">
	<meta name="title" content="{{ page.description }}">

	<!-- Open Graphics Tags -->
	<meta name="og:description" content="{{ page.description }}">
	<meta name="og:title" content="{{ page.title }}">
	<meta name="og:type" content="website">
	<meta name="og:url" content="https://rubyweekly.com">
	<meta name="og:image" itemprop="image" content="https://rubyweekly.com/assets/images/logo.png">
	<meta name="og:image" itemprop="image" content="https://rubyweekly.com/assets/images/logo.png">
	<!-- Fonts -->

	<!-- Stylesheets -->
	<link rel="preload" as="style" href="/assets/stylesheets/main.css">
	<link rel="stylesheet" href="/assets/stylesheets/main.css">

	<!-- Javascript -->
	<link rel="preload" as="script" href="/assets/javascript/main.js">
	<script src="/assets/javascript/main.js"></script>
</head>

<body>
	{{ content }}
</body>

</html>
