<!Doctype HTML>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale:1.0">
	<meta name="description" content="{{ page.description }}">
	<meta name="author" content="{{ page.content }}">
	<meta name="keywords" content="{{ page.keywords }}">
	<meta name="revisit-after" content="3-days">
	<meta name="robots" content="{{ page.description }}">
	<meta name="title" content="{{ page.title }}">

	<!-- Open Graphics Tags -->
	<meta name="og:description" content="{{ page.description }}">
	<meta name="og:title" content="{{ page.title }}">
	<meta name="og:type" content="website">
	<meta name="og:url" content="https://rubyweekly.com">
	<meta name="og:image" itemprop="image" content="https://rubyweekly.com/assets/images/logo.png">
	<meta name="og:image" itemprop="image" content="https://rubyweekly.com/assets/images/logo.png">
	<!-- Favicon -->
	<link rel="icon" type="image/png" sizes="96x96" href="/assets/images/logo96.png">
	<link rel="icon" type="image/png" sizes="80x80" href="/assets/images/logo80.png">
	<link rel="icon" type="image/png" sizes="64x64" href="/assets/images/logo64.png">
	<link rel="icon" type="image/png" sizes="48x48" href="/assets/images/logo48.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/logo32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/logo16.png">

	<!-- Any CDN Links? -->
	<!-- -->
	<!-- -->

	<!-- Stylesheets -->
	<link rel="preload" as="style" href="/assets/stylesheets/main.css">
	<link rel="stylesheet" href="/assets/stylesheets/main.css">

	<!-- Javascript -->
	<link rel="preload" as="script" href="/assets/javascript/main.js">
	<script src="/assets/javascript/main.js"></script>

	<!-- Loader Related CSS, Should be a Partial or Code inside Head -->
	{% include loader.css.html %}
</head>

<body>
	{% include loader.html %}

	<!-- Loader Should not be Fetched from Anywhere -->
	{{ content }}
</body>

</html>
